openai
google-genai
google-generativeai
groq
speechrecognition
pyaudio
python-dotenv
requests
beautifulsoup4
gitpython
pyttsx3
plyer
kivy
kivymd
pandas
openpyxl
numpy>=2.1.0
pyautogui
pillow
faiss-cpu
sentence-transformers
PyPDF2
elevenlabs
schedule
gtts
playsound==1.2.2
fastapi
uvicorn
websockets
yfinance
